*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root{
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisescuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255,255,255,0.1);
}

body{
    background: linear-gradient(135deg, #020617, #0f172a, #020617);
    /*background: url(./img/teste1.gif) no-repeat center center fixed;*/
    background-size: cover;
    background-color: black;
}

.navegacao{
    position: fixed;
    top: 0;
    background: rgba(15,23,42,0.5);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu{
    display: flex;
    list-style: none;
    gap: 3rem;
    justify-content: center;
}

.menu-link{
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
    font-weight: bolder;
}

.menu-link:hover{
    font-weight: bold;
    text-shadow: 0 0 5px var(--claro); 
    font-weight: bolder;
}

.menu-link::after{
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg,var(--primaria),var(--secundaria));
    transition: width 0.5s ease;
}

.menu-link:hover::after{
    width: 100%;
    font-weight: bold;
}

.cabecalho{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foto-perfil{
    width: 350px;
    height: 350px;
    box-shadow: 0 0 20px rgba(79,70,229,0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);
}

h1{
    font-size: 4rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 20px;
}

h3{
    color: white;
}

.par{
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0 0 5px black; 
    color: white;
}

.cabecalho-sub{
    font-size: 2rem;
    color: var(--claro);
    font-size: 50px;
}

.sobre {
   padding: 6rem 2rem;
}

.sobre-titulo{
    font-size: 4rem;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 0 0 5px var(--claro); 
}

.sobre-caixa{
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    background: rgba(15,23,42,0.0.5) ;
    backdrop-filter: blur(30px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.sobre-paragrafo{
    text-align: center;
    font-size: 1.2rem;
    text-shadow: 0 0 5px var(--claro); 
    color: white;
}

/* ================= SEÇÃO LINGUAGENS ================= */
.sobre2{
    display: flex;
    flex-direction: column; /* texto em cima, imagens embaixo */
    justify-content: center;
    align-items: center;
    gap: 20px; /* espaço entre o texto e a linha de imagens */
    margin-top: 2rem;
}

.sobre2 .par2{
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 5px black;
    text-align: center;
}

.sobre2 .linguagens{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* permite quebrar linha em telas pequenas */
    gap: 15px; /* espaço entre as imagens */
}

.sobre2 img{
    width: 80px;
    height: 80px;
    object-fit: contain;
}

/* ================= PROJETOS ================= */
.projetos{
    padding: 6rem 2rem;
}

.projetos-card{
    background: rgba(255,255,255,0.01);
    border-radius: 16px;
    backdrop-filter: blur(25px);
    border: 1px solid var(--vidro);
    transition: all 0.5s ease;
    overflow: hidden;
    cursor: pointer;
}

.projetos-titulo{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
    text-shadow: 0 0 5px var(--claro); 
    color: white;
}

.projetos-caixa{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px , 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    text-shadow: 0 0 5px var(--claro); 
}

.paragrafo-projetos{
    font-weight: bold;
    text-shadow: none;
    color: white;
}

.projetos-card:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: translateY(-10px) scale(1.03);
}

.projetos-imagem{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

#b{
    text-decoration: none;
    background-color: white;
    border-radius: 12px;
    font-size: 20px;
    color: #0f172a;
    text-align: center;
    border: none;
    padding: 0.5rem 1rem;
    display: inline-block;
}

#b:hover{
    cursor: pointer;
    font-weight: bold;
}
