* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

.main-box {
    height: 100vh;
    width: 100%;
    background-image: url("img/01.jpg");
    background-size: cover;
    background-position: center;
    background-color: black;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.portfolio {
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-transform: capitalize;
}

.portfolio span {
    color: #00ffee;
}

li {
    color: white;
    list-style: none;
    display: inline-block;
    font-size: 25px;
    margin-right: 30px;
    cursor: pointer;
}

li:hover {
    color: #00ffee;
    transition: 0.7s;
}

.meu-nome {
    position: absolute;
    top: 50%;
    left: 7%;
}

h1 {
    color: white;
    font-size: 75px;
}

h1 span {
    color:  #00ffee;
}

.meu-nome h3 {
    color: white;
    font-size: 24px;
}

.tec {
    color: white;
    font-size: 24px;
}

.tec span {
    color: #00ffee;
}

section {
    display: flex;
    align-items: center;
    padding: 60px 15%;
    background-color: black;
}

section div h2 {
    color: white;
    font-size: 75px;
}

section div p {
    color: #00ffee;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 15px;
    margin-bottom: 15px;
}

section div span {
    color: white;
    font-size: 15px;
    text-transform: capitalize;
}

.btn {
    border-radius: 26px;
    background-color: #00ffee;
    color: white;
    border: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
    width: 160px;
    height: 50px;
    cursor: pointer;
}

.btn:hover {
    background-color: black;
    transition: 0.5s;
    border: 2px solid #00ffee;
}

.subti {
    color: #00ffee;
    font-size: 50px;
}

.sub {
    color: #00ffee;
    font-size: 50px;
}

.ts {
    color: white;
    font-size: 50px;
}

.projetos {
    background-color: black;
}

.projetos h2 {
    color: white;
    font-size: 55px;
    text-align: center;
}

.card {
    background-color: black;
    height: 365px;
    width: 335px;
    border-radius: 20px;
    padding: 20px 35px;
    text-align: center;
    border: 3px solid #00ffee;
}

.card h5 {
    color: white;
    font-size: 24px;
}

.card p {
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
}

.card img {
    height: 100px;
}

.card a {
    background-color: #00ffee;
    border-radius: 20px;
    border: none;
    text-transform: capitalize;
    color: white;
    font-weight: bold;
    padding: 10px 40px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}

.card a:hover {
    background-color: transparent;
    border: 2px solid;
    text-decoration: none;
}

.box {
    display: flex;
    justify-content: space-around;
}

footer h5 {
    color: white;
    font-size: 55px;
    text-transform: capitalize;
}
footer h5:hover{
    color: #00ffee;
    border: 2px 2px 2px 2px solid #00ffee;
}
footer{
    background-color: black;
    padding: 100px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p {
    color: white;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 14px;
}
.a{
    text-transform: capitalize;
    font-size: 55px;
}
