/* ===== TOP BAR ===== */
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 40px;
    z-index: 1001;
}

.top-bar-container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-contacts {
    display: flex;
    gap: 25px;
}

.top-contacts span {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
}

.top-social {
    display: flex;
    gap: 15px;
    align-items: center;
}

.top-social span {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
}

.top-social img {
    filter: brightness(0) invert(1);
    transition: opacity 0.3s;
    width: 14px;
}

.moon-btn {
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: white;
    padding: 4px 8px;
    border-radius: 50%;
}

/* ===== HEADER ===== */
header {
    position: fixed;
    top: 42px;
    left: 0;
    width: 100%;
    padding: 15px 40px;
    z-index: 1000;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 10px;
}

.header-container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-text {
    font-size: 14px;
    font-weight: 700;
    color: white;
}

.main-nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

.main-nav img{
    width: auto;
    height: auto;
    margin: 0 20px;
}

.main-nav a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    color: white;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    padding-right: 25px;
    transition: color 0.3s;
}

.main-nav a:hover {
    color: green;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.buy-btn {
    background: #2c3e2b;
    color: white;
    border: none;
    padding: 8px 20px;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
}

.search-icon input {
    width: 150px;
    padding: 6px 10px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    outline: none;
}

#menu-toggle {
    width: 28px;
    height: 28px;
    cursor: pointer;
    display: none;
}

/* MENU MOBILE */
.mobile-menu {
    display: none;
    overflow: hidden;
}
