body{
    background-color: grey;
    margin: 0;
}
.container {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: white;
    padding: 30px 40px;
    backdrop-filter: blur(100px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
h1{
    font-size: 20px;
    margin-bottom: 20px;
}
input{
width: 95%;
padding: 10px;
margin-bottom: 9px;
border-radius: 5px;
}
select{
width: 98%;
padding: 10px;
margin-bottom: 9px;
border: 5px solid #ddd;
border-radius: 5px;
}

button{
width: 100%;
padding: 10px;
background-color:grey;
cursor: pointer;
}
button:hover{
    background-color: #31c61d;
}
#resultado{
    margin-top: 20px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:oblique;
}
