* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto", serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: url("./img/aa.jpg");
    background-size: cover;
}

.main {
    color: white;
    display: flex;
    justify-content: center;
    padding: 400px 20px 20px 20px;
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
}

.main input {
    font-size: 15px;
    font-weight: bold;
}

.a {
    width: 500px;
    height: 200px;
    border: 3px solid rgb(13, 156, 199);
    border-radius: 20px;
    backdrop-filter: blur(100px);
}

.a button {
    font-size: 15px;
    border: none;
    border-radius: 20px;
    background-color: grey;
    width: 200px;
    font-weight: bold;
    cursor: pointer;
}

#if {
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
}

#if2 {
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
}
