*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}
body{
    background: linear-gradient(to left, #A2D5C6, #74a085, #1B3C53, #494444);
}
.main{
    display: flex;
    justify-content: center;
    padding: 200px;
    margin: 20px;
}
.box{
    width: 400px;
    height: 400px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    backdrop-filter: blur(100px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 3px solid black;
}
.box h1{
    font-size: 50px;
    font-weight: bold;
}
.box input{
    outline: none;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 19px;
    height: 50px;
    width: 300px;
}
.box button{
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: grey;
    height: 50px;
    width: 300px;
}
.box button:hover{
    background-color: transparent;
    font-size: 20px;
    color: white;
    background-color: blueviolet;
}
.box:hover{
    font-size: 30px;
    cursor: pointer;
}

#res,#res2{
    font-size: 17px;
    color:whitesmoke;
    font-weight: bold;
}
