/* Estilos gerais para o corpo da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: burlywood;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
   background-color: black;
}

/* Container principal que envolve o formulário e os resultados */
.container {
    display: flex;                /* Usando Flexbox */
    justify-content: center; /* Espaço entre o formulário e os resultados */
    width: 100%;                /* O contêiner ocupa toda a largura */
    max-width: 800px;             /* Definindo uma largura máxima */
    border: 5px solid rgb(11, 146, 209);
    border-radius: 20px;
    backdrop-filter: blur(100px);
    background-color: transparent;
}

/* Estilos para o formulário */
.form-container {
    width: 45%;   /* O formulário ocupa 45% da largura */
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    backdrop-filter: blur(100px);
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Estilo dos títulos */
h2 {
    font-size: 50px;
    margin-bottom: 10px;
    color: white;
}

h5 {
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
}

/* Estilo dos inputs */
.input-container input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 15px;
    color: grey;
    background-color: #f9f9f9;
    list-style-type: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
}

/* Estilo do botão */
button {
    width: 100%;
    padding: 12px;
    border: 3px solid red;
    background-color: transparent;
    color: red;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 20px;
}

button:hover {
    background-color: red;
    color: white;
}

button:focus {
    outline: none;
}

/* Estilos para o container de resultados */
.result-container {
    display: flex;
    flex-direction: column;        /* Organiza os resultados de forma vertical */
    width: 50%;                    /* O container de resultados ocupa 50% da largura */
    gap: 10px;                     /* Espaço entre as divs de resultado */
}

/* Estilo para cada resultado */
.result {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo para o resultado em negrito */

#res1,#res2,#res3{
    font-weight: bold;
    color: white;
    font-size: 30px;
}
#tipoInvestimento{
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}
