*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}
body{
    background-color:rgba(17, 7, 12, 0.8);
}

.main{
    backdrop-filter: blur(100px);
    background-color: transparent;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 70vh;
    width: 100vw;
    text-shadow: -3px -5px 6px #920000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.main h5{
    font-size: 80px;
    font-weight: bold;
}
.main img{
    width: 400px;
    height: 400px;
}
.fr{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: red;
    background-color: black;
    font-size: 50px;
    height: 20vh;
}

.bt{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: black;
}
.btn{
    border-radius: 15px;
    color: gray;
    border: none;
    background-color: transparent;
    font-size: 30px;
    font-weight: bold;
    border: 2px grey;
}
.btn:hover{
    transition: 0.5s;
    cursor: pointer;
    background-color: red;
    color: white;
}
.fr input{
    border: none;
    border-radius: 30px;
    font-size: 40px;
    outline: none;
}
.h{
    font-size: 95px;
    color: white;
}
.e{
    font-size: 50px;
    color: white;
    outline: none;
}
#amigo{
    font-size: 20px;
    font-weight: bold;
    color: red;
    display: flex;
    align-items: center;
}
#amigo{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    font-style: italic;
    font-weight: bold;
    background-color: black;
    font-size: 41px;
}
#sd{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    color: white;
}
footer{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
    background-color: black;
}
