* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: #f5f5f5;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.b {
    background-color: #222;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    width: 400px;
}

input, select, button {
    display: block;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
    font-weight: bold;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #218838;
}

#res {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

h1{
    text-align: center;
    font-size: 25px;
}
