* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

body {
    background: url(teste.jpg);
    overflow: hidden;
}

.a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 80px;
    margin: 20px;
    min-height: 80vh;
}

.b {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(30px);
    border-radius: 12px;
}

h1,h3{
    font-size: 50px;
    color: white;
    font-weight: bolder;
}

input {
    border-radius: 12px;
    width: 100px;
    height: 50px;
    border: none;
    background-color: transparent;
    font-size: 25px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
}

button {
    font-size: 20px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 12px;
}

button:hover {
    cursor: pointer;
    font-size: 25px;
    background-color: red;
    font-weight: bold;
}

.b:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#m1 {
    font-size: 20px;
    font-weight: bold;
    color: black;
}
#m2{
    font-size: 20px;
    font-weight: bold;
    color: #003366;
}
#m3{
    font-size: 20px;
    font-weight: bold;
    color: #007BFF;
}
