*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}
body{
    background: linear-gradient(to left,#ab9f81,#889E73,#4682A9);
    background-size: cover;
}
h1{
    font-size: 50px;
    color: white;
    font-weight: bolder;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0 0 10px rgba(0, 0, 0, 10);
}
h3{
    font-size: 20px;
    color: #889E73;
    font-weight: bold;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 350px;
    margin: 20px;
    height: 400px;
}
.b{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2); /* branco com transparência */
    padding: 20px;
    backdrop-filter: blur(10px); /* opcional: efeito de desfoque no fundo */
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
button{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: #A94A4A;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border: 3px solid black;
}
button:hover{
    font-size: 20px;
    font-weight: bold;
    background-color: #A94A4A;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#res{
    font-size: 20px;
    color: #4682A9;
    font-weight: bold;
    text-align:left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
